<!DOCTYPE html>
<html>
<head>
  <title>IMDB Movie Review Classification</title>
</head>
<body>
  <h1>IMDB Movie Review Classification using Recurrent Neural Network</h1>

  <h2>Introduction:</h2>
  <p>
    Sentiment analysis on movie reviews is a popular natural language processing task that aims to determine the sentiment expressed in a text. This project focuses on classifying IMDB movie reviews as positive or negative based on their textual content. The goal is to develop a machine learning model that can accurately predict the sentiment of a movie review.
  </p>

  <h2>Dataset Description:</h2>
  <p>
    The dataset used in this study contains a collection of IMDB movie reviews along with their corresponding sentiment labels. Each review is a piece of text, and the sentiment label indicates whether the review is positive or negative. The dataset is pre-labeled to facilitate supervised learning. It includes features such as:
    <ul>
      <li><strong>Review:</strong> The text content of the movie review.</li>
    </ul>
  </p>
  <h2>Input formats</h2>
  <ul>
    <li>update url:/predict?data=REVIEW</li>
    <li>Enter data as json file:{"data":"REVIEW"}</li>
  </ul>
</body>
</html>
